.root {
  background: #fff;
  display: flex;
  align-items: stretch;
  justify-content: start;
  gap: 8px;
  padding: 0 12px;
  height: 32px;
  border-radius: 16px;
  box-shadow: 0 0 0 1px var(--colorNeutralStroke1);
  width: 100%;
}

.root2 {
  width: 100%;
}
.searchIcon {
  flex-shrink: 0;
  transform: scaleX(-1);
  height: 20px;
  width: 20px;
  align-self: center;
}

.searchInput {
  border: none;
  font-family: inherit;
  background: inherit;
  justify-self: end;
  width: 100%;
}

.searchInput[type='search']::-webkit-search-decoration,
.searchInput[type='search']::-webkit-search-cancel-button,
.searchInput[type='search']::-webkit-search-results-button,
.searchInput[type='search']::-webkit-search-results-decoration {
  display: none;
}

.searchInput:focus {
  outline: none;
}

.searchButton {
  align-self: flex-end;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}
