body,
input,
textarea,
button {
  font-family:
    'Segoe UI Web (West European)',
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    'Helvetica Neue',
    sans-serif;
}

body {
  background: red;
  -webkit-font-smoothing: antialiased;
  all: unset;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:
    'Segoe UI Web (West European)',
    -apple-system,
    'system-ui',
    Roboto,
    'Helvetica Neue',
    sans-serif;
  font-size: 12px;
  font-weight: 400;
}


body * {
  box-sizing: inherit;
}

button {
  background: inherit;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  display: block;
}

input {
  font-family:
    'Segoe UI Web (West European)',
    -apple-system,
    'system-ui',
    Roboto,
    'Helvetica Neue',
    sans-serif;

  font-size: inherit;
  font-weight: inherit;
}

input::placeholder {
  font-family:
    'SegoeUI-SemiBold-final',
    'Segoe UI Semibold',
    SegoeUI-Regular-final,
    'Segoe UI',
    'Segoe UI Web (West European)',
    Segoe,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    'Helvetica Neue',
    Tahoma,
    Helvetica,
    Arial,
    sans-serif;
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

h1 {
  font-size: 1.75rem;
  line-height: 1.75rem;
  font-weight: 600;
}

h2 {
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 600;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}